<div class="mb-3">
    <a href="{{ path('index') }}">Home</a>
</div>
<div class="mb-3">
    {{ pagename }}
</div>
<div class="mb-3">
    {% if app.user %}
        {{ app.user.name }}
    {% endif %}
</div>
<div class="mb-3">
    {% if app.user %}
        <a href="{{ path('logout') }}">Log Out</a>
    {% else %}
        {% if app.request.get('_route') != 'login' %}
            <a href="{{ path('login') }}">Log In</a>
        {% endif %}
    {% endif %}
</div>